*{
		margin: 0;
				padding: 0;
}
nav .navbar-brand a{
		color: #cf4646;
		       	font-size: 15pt;
}
.navbar-brand{
		text-align: center;
			float: none;
}
.h1_home , .h1_home + p{
		margin-top: 20px;
			margin-left: 5px;
}
body{
		font-family: "Classic Grotesque W01", "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
			background-color: #f8f8f5;
				font-size: 15px;
}
nav + div a:hover{
		background-color: white;
			text-decoration: none;
				color: #5c5c5c;
}
h2:hover{
	   	text-decoration: underline;
   }
::selection{
		background-color: #fff159;
}
nav{
		background-color: #f8f8f5;
}
nav a{
		text-align: center;
}
.feed h2 , .dtitle{
		text-align: center;
}
a{
		text-decoration: none;
}
p.summary{
		font-size: 14px;
			margin-top: 20px;
				margin-left: 15px;
}
.feed .dpost{
		font-size: 20px;
}
h2 , .dtitle{
		color: #000;
		       	font-size: 2em;
				font-weight: normal;
					margin-top: 20px;
}
.post_meta{
		color: gray;
		       	font-size: 0.7em;
				text-align: center;
}
.dpost_meta{
		text-align: left;
			font-size: 0.7em;
				color: gray;
}
.post_meta + div{
		line-height: 1.8em;
			margin-top: 15px;
}
.post_meta + div ul{
		padding-left: 5px;
}
.post_meta + div ol{
		padding-left: 5px;
}
.post_meta + div *{
		font-family: 'TIBch', 'Classic Grotesque W01', 'Helvetica Neue', Arial, 'Hiragino Sans GB','PingFang SC',
			    'STHeiti', 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
		    color: #5c5c5c;
			       line-height: 1.72;
}
.post_meta + div + ul li{
		list-style: none;
			color: gray;
			       	margin-right: 10px;
}
.post_meta + div + ul{
		border-bottom: 1px solid #cacaca;
			padding-bottom: 10px;
}
.dlink{
		border-bottom: 1px solid #cacaca;
			padding-bottom: 10px;
}
.dlink li{
		list-style: none;
			margin-right: 10px;
}
img	{
		display: block;
			 	margin-left: auto;
					margin-right: auto;
}
h3 {
		font-weight: normal;
			font-size: 1.2em;
}
.latest, .catlist , .tags{
		list-style: none;
}
.latest li, .tags li, .catlist li{
		border-bottom: 1px solid #cacaca;
			margin-left: 5px;
				margin-bottom: 5px;
					padding-top: 0.5em;
						padding-bottom: 0.5em;
}
.sidebox {
		padding-top: 25px;
}
.sidebox div{
		margin-top: 30px;
}
.catlist li{
		display: inline-block;
			 	width: 43%;
}
.tags li{
		display: inline-block;
			 	width: 32%;
}
.hlist {
		text-align: center;
			font-weight: normal;
				margin-bottom: 50px;
}
/*.foot{
 * 	margin-top: 200px;
 * 		margin-bottom: 30px;
 * 		}
 * 		.foot a{
 * 			color: gray;
 * 			}
 * 			.foot ul{
 * 				list-style: none;
 * 				}
 * 				.foot ul li{
 * 					float: left;
 * 						margin-right: 25px;
 * 						}
 * 						.tagpage {
 * 							list-style: none;
 * 							}
 * 							*/








